---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url(//fonts.googleapis.com/earlyaccess/myanmarsanspro.css);
@import url(//fonts.googleapis.com/earlyaccess/khyay.css);
@import url('//mmwebfonts.comquas.com/fonts/?font=pyidaungsu');

p, ul, ol, table, h4, h3 {
    font-family: "Pyidaungsu";
}

.post-title {
    font-family: 'Myanmar Sans Pro', sans-serif;
    font-size: xx-large;
    line-height: 1.5;
}
.post-content h2, h2 {
    font-family: 'Myanmar Sans Pro', sans-serif;
}
.site-nav .page-link {
    font-family: 'Khyay', sans-serif;
}

.footer-col-2 {
    display: none;
    //width: -webkit-calc(20% - (30px / 2));
    //width: calc(20% - (30px / 2));
}
.footer-col-3 {
    width: -webkit-calc(60% - (30px / 2));
    width: calc(60% - (30px / 2));
}
/*
@font-face {
    font-family:'Pyidaungsu';
    font-style: normal;
    font-weight: normal;
    src:local('Pyidaungsu'), 
    url('../assets/fonts/Pyidaungsu-2.5.3_Regular.woff') format('woff'), 
    url('../assets/fonts/Pyidaungsu-2.5.3_Regular.woff2') format('woff2'), 
    url('../assets/fonts/Pyidaungsu-2.5.3_Regular.ttf') format('ttf');
    }
@font-face {
        font-family:'Pyidaungsu';
        font-style: normal;
        font-weight: normal;
        src:local('Pyidaungsu'), 
        url('../assets/fonts/Pyidaungsu-2.5.3_Bold.woff') format('woff'), 
        url('../assets/fonts/Pyidaungsu-2.5.3_Bold.woff2') format('woff2'), 
        url('../assets/fonts/Pyidaungsu-2.5.3_Bold.ttf') format('ttf');
    }
    */